<h1>Hello <%= @user.first_name %>,</h1>

<br>
<p>
  We are glad to say <%= @greeting %> on Timepiece !
</p>

<p>

We hope you will find the watch of your dreams here.
</p>
<br>
<p>Feel history on your wrist,
</p>
<br>
<h2>
Timepiece
</h2>

