/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.search-bar {
margin-top: 20px;
}

.btn-mine{
text-transform: uppercase;
letter-spacing: 2px;
text-align: center;
font-size: 18px;
// font-family: 'montserrat';
margin: 0 auto;
width: 218px;
height: 37.3px;
border-radius: 5px;
background-color: $blue;
border: 1px solid $blue;
color: #FFF;
overflow: hidden;
// transition: all 0.5s;
vertical-align: top;
}


.btn-mine:hover, .btn-mine:active{

text-decoration: none;
color: white;
border-color: #001B31;
background: #001B31;

}
