
  <h1>Your Bookings:</h1>
      <% @bookings.each do |booking| %>
        <%= booking.user.last_name %>
        <%#= booking.watch.user %>
        <%#= booking.watch.name %>
        <%#= Date.strftime(booking.start," %A, %b %d")%>
        <%#= Date.strftime(booking.end, "%A, %b %d") %>
        <% end %>
