<h1> <%= "#{@user.first_name} #{@user.last_name}" %> </h1>
<div class="">
  <h2> <%= "#{@user.first_name}'s watches" %> </h2>
  <ul>
    <% @user.watches.each do |watch| %>
      <li> <%= cl_image_tag watch_photo_or_stub(watch), width: 200, height: 200, crop: :fill %> </li>
    <% end %>
  </ul>
</div>

