<div class="container">
  <div class="row">
    <% @watches.each do |watch| %>
    <div class="col-xs-12 col-sm-3">
      <%= render "shared/watch_card", watch: watch %>
    </div>
    <% end %>
  </div>
</div>




