.booking {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 3px;
  transition: all 0.15s ease;
}

/* Body design */
.booking-body {
  flex: 1 1 auto;
}
.booking-body h3 {
  font-weight: bold;
  font-size: 23px;
  margin-top: 0;
}
.booking-body p {
  font-weight: lighter;
  color: #999999;
  margin-bottom: 0;
}

.booking-image {
  border-radius: 10px;
  margin-right: 20px;
  width: 175px;
  height: 150px;
}

.booking-button {
  margin: 10px;
}
