.dashboard-card-body {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 1px 1px 2px #B3B3B3;
}
.dashboard-card-picture {
  height: 150px;
  background-size: cover;
  background-position: center;
  position: relative;
}
.dashboard-card-likes {
  color: #B3B3B3;
  font-size: 14px;
  font-weight: bold;
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
}
.dashboard-card-likes li {
  padding: 0 5px;
}
.dashboard-card-likes i {
  padding-right: 5px;
}
.dashboard-card-footer {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.dashboard-card-footer img {
  border-radius: 50%;
  margin-right: 10px;
}
.dashboard-card-footer a {
  color: #3a8bbb;
  font-weight: bold;
}

.dashboard-card-hover {
  padding: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  opacity: 0;
  // transition: opacity 0.4s ease;
}

.dashboard-card-hover:hover {
  opacity: 0.9;
}

.dashboard-card-hover h4 {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 17px;
}
.dashboard-card-hover p {
  font-weight: lighter;
  color: #4C4C4C;
  font-size: 14px;
  margin-top: 0px;
}
.dashboard-card:hover {
  cursor: pointer;
}

.dashboard-card {
  margin: 10px
}


.dashboard-card-price li {
  color: #808080
}

.dashboard-card-price {
  text-align: right
}

.dashboard-card-link {position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
}

.your-bookings {
  background-color: white;
  margin: 10px;
  border-radius: 10px;
}
