// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-datepicker";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";
@import "components/cards";
@import "components/banner-dashboard";
@import "components/dashboard-card";
@import "components/table";
@import "components/booking-show";
@import "components/dashboard-booking";
@import "layout/footer";
body {
  background: #F5F8FA;
}
